# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
.pub/

# Build outputs
build/
ios/Pods/
android/.gradle/
android/app/build/
*.lock

# IDE files
.idea/
.vscode/
*.iml

# macOS
.DS_Store

# Windows
Thumbs.db

# Web
.dart_tool/
build/

# Other
coverage/
